.button-styled {
    -fx-font-size: 25;             /* Rozmiar czcionki */
    -fx-font-family: "Arial";       /* Rodzina czcionek */
    -fx-background-color: #4CAF50;  /* Kolor tła */
    -fx-text-fill: white;           /* Kolor tekstu */
    -fx-border-color: #45a049;      /* Kolor obramowania */
    -fx-border-width: 2;            /* Grubość obramowania */
    -fx-padding: 20 30;             /* Odstęp wewnętrzny */
}

.button-styled:hover {
    -fx-background-color: #4efa82;  /* Kolor podczas najechania */
    -fx-border-color: #4efa82;    /* Kolor obramowania */
}

.button-styled:pressed {
    -fx-background-color: #0cab73;  /* Kolor podczas klikania */
    -fx-border-color: #0cab73;
}

Label {
    -fx-font-size: 13;             /* Rozmiar czcionki */
    -fx-font-family: "Arial";       /* Rodzina czcionek */
    /*-fx-text-fill: #ffffff;*/
    -fx-text-fill: black;
    -fx-font-weight: bold;

}

.title-Label {
    /*-fx-border-color: #cacaca;*/
    -fx-border-color: black;
    -fx-border-style: dotted;
}