.props {

    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-spacing:  50.0;

}

.props TextField {
    -fx-prompt-text-fill: 30.0;
    -fx-pref-column-count: 5.0;
    -fx-font-weight: bold;
}